// Vaporwave Color Scheme

// Colors
$body-bg: #29292c;        // 
$primary: #ff6ad5;        // Neon Pink
$secondary: #ffdb58;      // Bright Yellow
$success: #00f764;        // Neon Green
$info: #797f80;           // Grey
$warning: #ff61a6;        // Pinkish
$danger: #ff2965;         // Neon Red
$light: #b3b3b3;          // 
$dark: #000000;           // 

// Link Colors
$link-color: #01cdfe;     // Bright Cyan
$link-hover-color: darken($link-color, 10%);

// Bootstrap Import
@import '~bootstrap/scss/bootstrap.scss';
